section.discussions.discussions--with-bg
    h2.discussions__title
    .container
        .discussions-item
            h3.discussions-item__title Новая машина. Дизель. Вчера на холодную (+7 градусов) пошел пар из трубы на холостом ходу. Переживать или...
            p.discussions-item__text Есть мнение, что лучшее — враг хорошего. И оно определенно бытует среди интерьерщиков Шкоды. На первый взгляд в изначально продуманном и добротном салоне Октавии нет ничего нового. Но постепенно замечаешь топовую мультимедийную систему Columbus с экраном диагональю 9,2 дюйма, новый климатический блок с черными глянцевыми клавишами и фоновую подсветку на обшивке дверей. Все эти «ништяки» достались Октавии от дебютировавшего не так давно Кадьяка.
            p.discussions-item__text Придраться можно разве что к сенсорным клавишам мультимедийки, ведь даже для простой регулировки громкости придется тыкать пальцем в бездушный кусок стекла с насечками «+» или «-». И хотя отклик на нажатие — на зависть Тойотам и Кадиллакам, я уже скучаю по привычной осязаемой шайбе.
            .discussions-item__labels
                span.discussions-labels__type Инсайты
                span.discussions-labels__type экстерьер
            .discussions-item__meta
                span.discussions-item__date 15.04.2018
                span.discussions-item__count-comments 45 ответов
                span.discussions-item__count-views 5521