.discussion {
  background: #F0F0F0 url("../images/logo-bg.svg") no-repeat bottom left 9%;
  //background-image: url("../images/logo-bg.svg");

  &-top {
    flex-direction: column;
  }

  &-bottom {
    margin-top: 55px;
  }

  .swiper-pagination {
    @include mq('tablet', 'max') {
      bottom: -68px;
    }
  }

  .swiper-pagination-bullet {
    background-color: #DCDCDC;
  }

  .swiper-pagination-bullet-active {
    background: #4ba82e;
  }
}