section.ui-section
    .ui-section-header
        .ui-section__title <span>1.</span>Typography
    .ui-section-body.clearfix
        h1 h1/ 46px / Oswald
        h2 h2/ 35px / Oswald
        h3 h3/ 25px / Oswald
        br
        p Раздел, посвящённый обитателям города. Героями публикаций в нём могут стать, во-первых, люди, создающие вечные ценности — инженеры, архитекторы, изобретатели, художники и проч. Во-вторых, коллективы людей, обслуживающих вечные ценности: бригады лоцманов, реставраторов, строителей самолетов, трамвайных ремонтников, метростроителей и проч. В-третьих, люди и животные, которые сами являются петербургскими ценностями.
        br
        br
        a(href="#") Просто ссылка
        //ul
        //    li li Пункт1
        //    li li Пункт2
        //    li li Пункт3
        //    li li Пункт4
        //    li li Пункт5
        //    li: a(href="#") Ссылка
        br
        br
        .ui-title ALL FONTS NAME
        .h3(style="display: inline-block; margin-right: 30px; font-family: 'Oswald', 'Helvetica', sans-serif") 1.Oswald
        .h3(style="display: inline-block; margin-right: 30px; font-family: 'Roboto', 'Times New Roman', serif") 2.Roboto'
        //br
        //br
        //.row
        //    .col-12
        //        .ui-title Styles text
        //        p
        //            b
        //                i «Мне сказали, что надо взять интервью у Сергея Шнурова, так как он находится на пике популярности и все такое. Ну пришел ко мне Шнур. И оказался никакой, я просто был поражен этому. Ему нечего было сказать, он не отвечал на вопросы, он был пустой, неинтересный. Я не знал, что он такой. Я не хочу сказать, что он глупый. Но — он провалил это интервью!»
        //    .col
        //        .paragraph.short-block
        //            p Петербург возник из небытия на глазах одного поколения, и первые полвека – с небольшим перерывом – являлся одной огромной строительной площадкой. Построить город, явить его миру как можно быстрее и тем самым доказать всем силу власти, его создавшей, – это было главной задачей строителей.
        //            p Главная градостроительная идея Петра Первого заключалась в том, чтобы будущая столица росла вдоль берегов Невы, чтобы именно к реке был обращён городской фасад. Центр новой столицы должен был разместиться на соседнем с крепостью острове Койвисаари (Берёзовом), который вскоре переименовали в Городовой.
        //
        //            p Здесь и появилось первое здание нашего города – домик Петра Первого.Неизвестные голландские плотники соорудили его на самом берегу Невы за три дня, с 24 по 26 мая 1703 года. В документах это скромное деревянное строение высокопарно именовалось «первоначальным дворцом» или «красными хоромами». Это уникальное сооружение – нечто среднее между русской избой и голландским домом – сохранилось до наших дней под каменным футляром.
        //    .col
        //        .paragraph.paragraph_red
        //            p Кубометр воды в секунду расходуют фонтаны Петергофа. Ослепительные каскады с золочеными статуями, самсоны, раздирающие пасти львам, пирамиды, солнышки, горки и обманные шутихи – только лишь верхушка айсберга, малая часть фонтанного хозяйства. Где-то там под землей, в темных гротах и дворцовых подвалах, в закрытых и открытых коллекторах, невидимые глазу интуриста, протянулись десятки километров труб, устроены 25 накопительных резервуаров, закрываются-открываются сотни задвижек, тысячи кранов... Все это обслуживают тридцать человек: фонтанщики, инженеры и даже один научный работник. А руководит работой петергофского отдела фонтанов опытнейший специалист, инженер-строитель и просто обаятельная женщина – Нина Ивановна Ершова.
        //    .col
        //        div.short-block(style="padding:20px;background-color: #191919;")
        //            p.white
        //                i Без подобного раздела Журнал Учёта Вечных Ценностей смотрелся бы странно. Здесь происходит постоянный переучёт вокзалов, министерств, трампарков, пожарных каланчей, обсерваторий и всего прочего, из чего состоит город Санкт-Петербург. В этом же разделе пристально рассматриваются городские детали: мозаика, табличка, флагодержатель и проч. В каждом номере изучается одна отдельно взятая часть города и один совсем маленький предмет, увеличенный для удобства его рассмотрения до размеров журнальной страницы.
        //.row
        //    .col-12
        //        span.caption Разное
        //        br
        //        br
        //        span.caption Блог
        //        br
        //        br
        //        a(href="#").caption Тема дня