section.ui-section
    .ui-section-header
        .ui-section__title <span>2.</span>Buttons
    .ui-section-body.clearfix
        a(href="#").btn.btn_primary.btn_uppercase Подробнее об авто
        a(href="#").btn.btn_secondary.btn_uppercase Подробнее об авто
        a(href="#").btn.btn_primary.disabled.btn_uppercase Подробнее об авто
        a(href="#").btn.btn_secondary.disabled.btn_uppercase Подробнее об авто
        //br
        //br
        //div(style="background:#1b1b1b;padding: 30px; width:300px;")
        //    a(href="#").btn.btn_light Предложить тему  номера
        //br
        //br
        //div(style="background:#b40202;padding: 30px; width:280px;")
        //    a(href="#").btn.btn_white Хочу стать распространителем
        //    br
        //    button(type="button").btn.btn_white
        //        +icon('nib')
        //        | Отправить
        //    br
        //    button(type="button").btn.btn_white
        //        +icon('user')
        //        | Войти в кабинет
        //    a(href="#").btn.btn_white
        //        +icon('user-add')
        //        | Зарегистрироваться
    .ui-section-footer.clearfix
        p PUG CODE:
        pre.
            a(href="#").btn.btn_primary.btn_uppercase
            | Подробнее об авто
        pre.
            a(href="#").btn.btn_secondary.btn_uppercase
            | Подробнее об авто
        pre.
            a(href="#").btn.btn_primary.disabled.btn_uppercase
            | Подробнее об авто
        pre.
            a(href="#").btn.btn_secondary.disabled.btn_uppercase
            | Подробнее об авто
        ////-mixin
        //p MIXIN PUG BUTTONS:
        //pre.
        //    +btn-send()//Кнопка отправить
        //    +btn-send-form()//Кнопка отправить письмо
        //    +btn-whrite()//Кнопка Напишите нам в редакцию
        //    +btn-login()//Кнопка войти
