//-ui elements
section.ui-section
    .ui-section-header
        .ui-section__title <span>3.</span>Branding and Colors
    .ui-section-body.clearfix
        //-logo
        .ui-title LOGO
        a(href="#").ui-logo
            img(src="images/logo.svg", alt="logo")
        //-colors
        .ui-title COLORS
        br
        .ui-color-list
            .ui-color-block
                .ui-color(data-color="1") #4BA82E;
            .ui-color-block
                .ui-color(data-color="2") #555555;
            .ui-color-block
                .ui-color(data-color="3") #232323;
            .ui-color-block
                .ui-color(data-color="4") #61b8fb;
            .ui-color-block
                .ui-color(data-color="4") #61b8fb;
            //.ui-color-block
            //    .ui-color(data-color="5") #a10311;
            //.ui-color-block
            //    .ui-color(data-color="6") #d00000;
            //.ui-color-block
            //    .ui-color(data-color="7") #af0000;
            //.ui-color-block
            //    .ui-color(data-color="8") #fe0000;
            //.ui-color-block
            //    .ui-color(data-color="9") #cc0000;
            //.ui-color-block
            //    .ui-color(data-color="9-2") #e60000;
            //.ui-color-block
            //    .ui-color(data-color="10") #000;
            //.ui-color-block
            //    .ui-color(data-color="11") #191919;
            //.ui-color-block
            //    .ui-color(data-color="12") #181818;
            //.ui-color-block
            //    .ui-color(data-color="13") #020202;
            //.ui-color-block
            //    .ui-color(data-color="14") #1b1b1b;
            //.ui-color-block
            //    .ui-color(data-color="15") #4b4b4b;
            //.ui-color-block
            //    .ui-color(data-color="16") #030303;
            //.ui-color-block
            //    .ui-color(data-color="17") #040404;
            //.ui-color-block
            //    .ui-color(data-color="17-2") #202020;
            //.ui-color-block
            //    .ui-color(data-color="18") #fff;
            //.ui-color-block
            //    .ui-color(data-color="19") #666666;
            //.ui-color-block
            //    .ui-color(data-color="20") #878787;
            //.ui-color-block
            //    .ui-color(data-color="21") #f8f8f8;
            //.ui-color-block
            //    .ui-color(data-color="22") green;