//-ui elements
section.ui-section
    .ui-section-header
        .ui-section__title <span>4.</span>Card
    .ui-section-body.clearfix


        .card
            .card-img
                img(src="uploads/overview-2.jpg", alt="Будущая компактная модель ŠKODA")
                .card-desc
                    a.card-desc__title(href="#") Будущая компактная модель ŠKODA
                    .card-desc-row
                        span.card-desc__label Инсайты
                        span.card-desc__date 15.04.2018
                    p.card-desc__text
                        | ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода.

        br
        br

        .card.card--no-img
            .card-desc
                a.card-desc__title(href="#") Будущая компактная модель ŠKODA
                .card-desc-row
                    span.card-desc__label Инсайты
                    span.card-desc__date 15.04.2018
                p.card-desc__text
                    | ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, ко

        br
        br

        .car
            .car-img
                img(src="uploads/fabia-1.png", alt="Fabia(хЭтчбэк)")
            .car-desc
                a.car-desc__title(href="#") Fabia(хЭтчбэк)
                p.car-desc__generation 3 поколение
                p.car-desc__year 2018-н.в.


        br
        br

        .review-card
            .review-card-img
                img(src="uploads/overview-1.jpg", alt="Четырехглазая езда: тест обновленной Skoda Octavia")
            .review-card-desc
                a.review-card-desc__title(href="#") Четырехглазая езда: тест обновленной Skoda Octavia
                .review-card-desc-row
                    span.review-card-desc__label Обзор
                    span.review-card-desc__date 15.04.2018
                .review-card-desc-bottom
                    .review-card-desc-rating
                        span.review-card-rating__count 9.3
                        span.review-card-rating__text Рейтинг
                    p.review-card-desc__mark От редакции

        br
        br

        .discussion-card
            .discussion-card-meta
                a.discussion-card__title(href="#")
                    | Есть ли будущее у ŠKODA KODIAQ RS
                .discussion-card-buttons
                    span.discussion-card__count-comments 45
                    span.discussion-card__count-views 5521
                span.discussion-card__label Обсуждение
                p.discussion-card__comment Лучший комментарий:
            .discussion-card-wrap
                .discussion-card__img
                    img(src="uploads/user-logo.jpg", alt="Пользователь")
                .discussion-card-row
                    p.discussion-card__name Константин Заруцкий
                    p.discussion-card__time 15 часов назад
                .discussion-card-ratings
                    button.discussion-card-ratings__like Мне нравится
                    span.discussion-card-ratings__count 15
                    button.discussion-card-ratings__like.discussion-card-ratings__dislike Мне не нравится
                p.discussion-card__text
                    |ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода.