section.ui-section
    .ui-section-header
        .ui-section__title <span>5.</span>Breadcrumbs
    .ui-section-body.clearfix
        .breadcrumbs
            .container
                h1.h1 Двигатель skoda 1.4 TSI
                ul.breadcrumbs-list
                    li
                        a(href="#") Главная
                    li
                        a(href="#") Двигатели
                    li
                        a Двигатель Skoda 1.4 TSI

//breadcrumbs-modif

section.ui-section
    .ui-section-header
        .ui-section__title <span>5.</span>Breadcrumbs
    .ui-section-body.clearfix
        .breadcrumbs
            .container
                h1.h1 Двигатель skoda 1.4 TSI
                .breadcrumbs-block
                    ul.breadcrumbs-list
                        li
                            a(href="#") Главная
                        li
                            a(href="#") Двигатели
                        li
                            a Двигатель Skoda 1.4 TSI
                    .breadcrumbs-block-autor
                        p От редакции
                        span Автор:
                            a(href="#") Андрей Кировский