//pagination
section.ui-section
    .ui-section-header
        .ui-section__title <span>6.</span>Pagination
    .ui-section-body.clearfix
        ul.pagination
            li
                a(href="#").prev
            li.focus
                a(href="#") 1
            li
                a(href="#") 2
            li
                a(href="#") 3
            li
                a(href="#").more
            li
                a(href="#") 12
            li
                a(href="#").next