//pagination
section.ui-section
    .ui-section-header
        .ui-section__title <span>6.</span>Pagination
    .ui-section-body.clearfix
        .search
            .container.container-flex
                form.search-field
                    input(type="search", placeholder="Поиск по публикациям")
                    input(type="submit", placeholder="Поиск")
                .search-labels
                    .search-labels__group
                        input(type="checkbox", name="search-labels", value="Инсайты" id="insights")
                        label(for="insights") Инсайты
                    .search-labels__group
                        input(type="checkbox", name="search-labels", value="экстерьер" id="exterior")
                        label(for="exterior") экстерьер
                    .search-labels__group
                        input(type="checkbox", name="search-labels", value="технологии" id="insights2")
                        label(for="insights2") технологии
                    .search-labels__group
                        input(type="checkbox", name="search-labels", value="новинки" id="exterior2")
                        label(for="exterior2") новинки
                    .search-labels__group
                        input(type="checkbox", name="search-labels", value="Инсайты" id="insights3")
                        label(for="insights3") Инсайты
                    .search-labels__group
                        input(type="checkbox", name="search-labels", value="технологии" id="exterior3")
                        label(for="exterior3") технологии
                    .search-labels__group
                        input(type="checkbox", name="search-labels", value="Инсайты" id="insights4")
                        label(for="insights4") Инсайты
                    .search-labels__group
                        input(type="checkbox", name="search-labels", value="экстерьер" id="exterior4")
                        label(for="exterior4") экстерьер
                    .search-labels__group
                        input(type="checkbox", name="search-labels", value="Инсайты" id="insights5")
                        label(for="insights5") Инсайты
                    .search-labels__group
                        input(type="checkbox", name="search-labels", value="новинки" id="exterior5")
                        label(for="exterior5") новинки
                    .search-labels__group
                        input(type="checkbox", name="search-labels", value="технологии" id="insights6")
                        label(for="insights6") технологии
                    .search-labels__group
                        input(type="checkbox", name="search-labels", value="экстерьер" id="exterior7")
                        label(for="exterior7") экстерьер