section.breadcrumbs
    .container
        h1.h1 Страница не найдена
        ul.breadcrumbs-list
            li
                a(href="#") Главная
            li
                a(href="#") Новости
            li
                a Новинки