//section-notfound
section.section-notfound
    .container
        img(src="images/404.png")
        p
            | К сожалению мы не смогли найти эту страницу, вы можете перейти
            a(href='#')  на главну
            | , почитать
            a(href='#')  новости
            |  о мире Skoda, посмотреть
            a(href='#')  обзоры
            |  или учавствовать
            a(href='#')  в обсуждениях
            | .
