.cards,
.gallery {
  padding-bottom: 34px;
  @include mq('desktop', 'max') {
    padding-bottom: 12px;
  }

  .container-flex {
    display: flex;
    justify-content: space-between;
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 15px;
    .cards__link {
      @include mq('tablet', 'max') {
        display: none;
      }
    }
  }

  &-bottom {
    display: none;

    @include mq('tablet', 'max') {
      display: flex;
      justify-content: space-between;
      margin-bottom: 35px;
    }
  }

  &__title {
    margin-left: 9px;
    max-width: 60%;
    @include mq('tablet', 'max') {
      max-width: 100%;
      margin-left: 0;
    }

    em {
      color: $color-main;
      font-style: normal;
    }
  }

  &__link {
    position: relative;
    margin-right: 9px;
    padding-right: 30px;
    line-height: 1;
    align-self: center;
    cursor: pointer;
    @include mq('tablet', 'max') {
      font-size: 18px;
      margin-right: 0;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 20px;
      height: 13px;
      margin: auto;
      background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2213%22%20viewBox%3D%220%200%2020%2013%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M13.66.259l6.061%205.617a.838.838%200%200%201%200%201.248l-6.06%205.618a1.006%201.006%200%200%201-1.348%200%20.838.838%200%200%201%200-1.249l4.435-4.11H0V5.617h16.748l-4.435-4.11a.838.838%200%200%201%200-1.248%201.006%201.006%200%200%201%201.347%200z%22%20fill%3D%22%234BA82E%22%2F%3E%3C%2Fsvg%3E');
    }
  }

  &-list {
    position: relative;
    text-align: center;
  }

  &-wrap {
    text-align: left;
    @include mq('tablet', 'min') {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
    }

    @include mq('tablet', 'max') {
      position: relative;
      z-index: 1;
      display: flex;
      box-sizing: content-box;
      width: 100%;
      height: 100%;
      transition-property: transform;
    }
  }

  .swiper-pagination {
    bottom: -15px;
    display: flex;
    justify-content: flex-end;
    @include mq('tablet', 'min') {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    background-color: #EBEBEB;
  }

  .swiper-pagination-bullet-active {
    background: $color-main;
  }

}

.card {
  display: block;
  position: relative;
  width: 384px;
  height: 310px;
  margin-bottom: 18px;
  @include mq('desktop', 'max') {
    width: 50%;
    height: auto;
  }

  @include mq('tablet', 'max') {
    width: 100%;
    height: auto;
  }

  &-wrap {
    position: relative;
    margin: 0 9px;
    transition: all 0.3s ease-in;
    &:hover {
      opacity: 0.75;
      text-decoration: none;
      transition: all 0.3s ease-in;
      &:after {
        display: none;
      }
    }
  }

  &-img {
    img {
      width: 100%;
      height: auto;
    }
  }

  &-desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px 20px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    @include mq('tablet', 'max') {
      padding: 15px;
    }
  }

  &-desc__title {
    max-width: 253px;
    margin: 0;
    margin-bottom: 14px;
    font-size: 23px;
    line-height: 31px;
    color: $color-white;
    @include mq('tablet', 'max') {
      margin-bottom: 7px;
    }
  }

  &-desc-row {

  }

  &-desc__label {
    margin-right: 10px;
    font-family: $font-family-main;
    font-size: 15px;
    line-height: 18px;
    color: #4ba82e;
  }

  &-desc__date {
    position: relative;
    margin-left: 10px;
    font-family: $font-family-main;
    font-size: 15px;
    line-height: 18px;
    color: $color-white;
    opacity: 0.5;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -10px;
      display: block;
      width: 1px;
      height: 100%;
      background-color: currentColor;
    }
  }

  &-desc__text {
    margin-top: auto;
    font-size: 14px;
    line-height: 18px;
    color: $color-white;
    text-transform: initial;
  }
}

.card--no-img {
  min-height: 363px;

  .card-desc {
    position: relative;

    background-color: #EBEBEB;
  }

  .card-desc__title {
    color: $color-title;
  }

  .card-desc__date {
    color: $color-title;
    opacity: 0.5;
  }

  .card-desc__text {
    color: $color-black;
  }
}