section.breadcrumbs
    .container
        h1.h1 SKoda показала обновленный руль
        ul.breadcrumbs-list
            li
                a(href="#") Главная
            li
                a(href="#") Новости
            li
                a Skoda показала обновленный руль