//content
section.content
 .container
     .content-img
        img(src="uploads/news-inner.jpg")
        .content-img-date
            p Интерьер
            p 15.04.2018
        .content-img-hashtag
            span #octavia #skoda #новость
     p.content__txt Есть мнение, что лучшее — враг хорошего. И оно определенно бытует среди интерьерщиков Шкоды. На первый взгляд в изначально продуманном и добротном салоне Октавии нет ничего нового. Но постепенно замечаешь топовую мультимедийную систему Columbus с экраном диагональю 9,2 дюйма, новый климатический блок с черными глянцевыми клавишами и фоновую подсветку на обшивке дверей. Все эти «ништяки» достались Октавии от дебютировавшего не так давно
        a(href="#") кадьяка.
     p.content__txt Придраться можно разве что к сенсорным клавишам мультимедийки, ведь даже для простой регулировки громкости придется тыкать пальцем в бездушный кусок стекла с насечками «+» или «-». И хотя отклик на нажатие — на зависть Тойотам и Кадиллакам, я уже скучаю по привычной осязаемой шайбе.
     .engine-table-article-img_left
        .left
            img(src="images/review-1.jpg")
            span Интерьер тот же. Качество матери­алов — на прежнем высоком уровне. Доплата за топовую мультимедийную систему Columbus с 9,2‑дюймовым дисплеем составит 66 100 рублей для исполнения Ambition и 88 300 рублей — для Style.
        .right
            p На этом с передней частью салона всё. Не считая нескольких новых «фишек» серии Simply Clever, а именно зонтика под пассажирским сиденьем (до Октавии это решение добралось только сейчас), держателя для бутылок на центральной консоли и — наконец-то! — обогреваемого руля.
            p Для задних пассажиров — два нововведения: появилась возможность заказать пару дополнительных USB-розеток и откидные столики на спинках передних кресел. Остальное, включая трехступенчатый обогрев сидений и держатели для гаджетов, было доступно и до рестайлинга. По части простора машине по-прежнему нет равных в классе. Причем не только в своем! Да и багажник лифтбека с заявленным объемом 568 литров остается одним из рекордных. Что до универсала… В России «сарай» окажется штучным товаром, даром что его багажник еще удобнее и вместительнее.
     p.content__txt Дело в том, что лифтбеки собирают на заводе «Группы ГАЗ» в Нижнем Новгороде, тогда как универсалы — исключительно в Млада-Болеславе. Вот почему самая скромная Octavia Combi 1.6 с механической коробкой предлагается за 1 207 000 рублей — примерно на четверть миллиона дороже аналогичного лифтбека (от 940 000 рублей) и схожих по характеристикам и оснащению универсалов Kia сee’d SW и Ford Focus.
