section.cards.recommend-reviews
    .container
        .cards-top.recommend-reviews-top
            h2.cards__title.recommend-reviews__title.h2 Интересные новости
        .cards-list
            .cards-wrap
                a.review-card(href="#")
                    .review-card-wrap
                        .review-card-img
                            img(src="uploads/overview-1.jpg", alt="Четырехглазая езда: тест обновленной Skoda Octavia")
                        .review-card-desc
                            h2.review-card-desc__title Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                p.review-card-desc__text ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода.
                a.review-card.review-card--no-img(href="#")
                    .review-card-wrap
                        .review-card-img
                        .review-card-desc
                            h2.review-card-desc__title Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                p.review-card-desc__text ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода.
                a.review-card(href="#")
                    .review-card-wrap
                        .review-card-img
                            img(src="uploads/overview-3.jpg", alt="Четырехглазая езда: тест обновленной Skoda Octavia")
                        .review-card-desc
                            h2.review-card-desc__title Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                p.review-card-desc__text ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода.
                a.review-card(href="#")
                    .review-card-wrap
                        .review-card-img
                            img(src="uploads/overview-4.jpg", alt="Четырехглазая езда: тест обновленной Skoda Octavia")
                        .review-card-desc
                            h2.review-card-desc__title Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                p.review-card-desc__text ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода.
                a.review-card(href="#")
                    .review-card-wrap
                        .review-card-img
                            img(src="uploads/overview-5.jpg", alt="Четырехглазая езда: тест обновленной Skoda Octavia")
                        .review-card-desc
                            h2.review-card-desc__title Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                p.review-card-desc__text ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода.
                a.review-card(href="#")
                    .review-card-wrap
                        .review-card-img
                            img(src="uploads/overview-6.jpg", alt="Четырехглазая езда: тест обновленной Skoda Octavia")
                        .review-card-desc
                            h2.review-card-desc__title Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                p.review-card-desc__text ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода.
                a.review-card.review-card--no-img(href="#")
                    .review-card-wrap
                        .review-card-img
                        .review-card-desc
                            h2.review-card-desc__title Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                p.review-card-desc__text ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода.
                a.review-card(href="#")
                    .review-card-wrap
                        .review-card-img
                            img(src="uploads/overview-2.jpg", alt="Четырехглазая езда: тест обновленной Skoda Octavia")
                        .review-card-desc
                            h2.review-card-desc__title Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                p.review-card-desc__text ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода.
                a.review-card.review-card--no-img(href="#")
                    .review-card-wrap
                        .review-card-img
                        .review-card-desc
                            h2.review-card-desc__title Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                p.review-card-desc__text ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода.
            button.pagination__more Показать еще