section.cards.cars
    .container
        .cards-top.cars-top
            h2.cards__title.recommend-reviews__title.h2 Fabia
        .cards-list
            .cards-wrap.cars-wrap
                .car
                    .car-wrap
                        a.car-img(href="#")
                            img(src="uploads/fabia-1.png", alt="Fabia(хЭтчбэк)")
                        .car-desc
                            a.car-desc__title(href="#") Fabia(хЭтчбэк)
                            p.car-desc__generation 3 поколение
                            p.car-desc__year 2018-н.в.
                .car
                    .car-wrap
                        a.car-img(href="#")
                            img(src="uploads/fabia-2.png", alt="Fabia(хЭтчбэк)")
                        .car-desc
                            a.car-desc__title(href="#") Fabia(хЭтчбэк)
                            p.car-desc__generation 2 поколение
                            p.car-desc__year 2010-2018
                .car
                    .car-wrap
                        a.car-img(href="#")
                            img(src="uploads/fabia-3.png", alt="Fabia(хЭтчбэк)")
                        .car-desc
                            a.car-desc__title(href="#") Fabia(хЭтчбэк)
                            p.car-desc__generation 1 поколение
                            p.car-desc__year 2000-2009
        .cards-top.cars-top
            h2.cards__title.recommend-reviews__title.h2 octavia
        .cards-list
            .cards-wrap.cars-wrap
                .car
                    .car-wrap
                        a.car-img(href="#")
                            img(src="uploads/octavia-1.png", alt="A7(Лифтбэк)")
                        .car-desc
                            a.car-desc__title(href="#") A7(Лифтбэк)
                            p.car-desc__generation 4 поколение
                            p.car-desc__year 2018-н.в.
                .car
                    .car-wrap
                        a.car-img(href="#")
                            img(src="uploads/octavia-2.png", alt="A5(Лифтбэк)")
                        .car-desc
                            a.car-desc__title(href="#") A5(Лифтбэк)
                            p.car-desc__generation 3 поколение
                            p.car-desc__year 2018-н.в.
                .car
                    .car-wrap
                        a.car-img(href="#")
                            img(src="uploads/octavia-3.png", alt="Tour(лифтбэк)")
                        .car-desc
                            a.car-desc__title(href="#") Tour(лифтбэк)
                            p.car-desc__generation 2 поколение
                            p.car-desc__year 2000 – 2011
                .car
                    .car-wrap
                        a.car-img(href="#")
                            img(src="uploads/octavia-4.png", alt="Type 985(универсал)")
                        .car-desc
                            a.car-desc__title(href="#") Type 985(универсал)
                            p.car-desc__generation 1 поколение
                            p.car-desc__year 1959 – 1971
        .cards-top.cars-top
            h2.cards__title.recommend-reviews__title.h2 Rapid
        .cards-list
            .cards-wrap.cars-wrap
                .car
                    .car-wrap
                        a.car-img(href="#")
                            img(src="uploads/rapid-1.png", alt="Rapid(лифтбэк)")
                        .car-desc
                            a.car-desc__title(href="#") Rapid(лифтбэк)
                            p.car-desc__generation 1 поколение (рестайлинг)
                            p.car-desc__year 2018-н.в.
                .car
                    .car-wrap
                        a.car-img(href="#")
                            img(src="uploads/rapid-2.png", alt="Rapid(лифтбэк)")
                        .car-desc
                            a.car-desc__title(href="#") Rapid(лифтбэк)
                            p.car-desc__generation 1 поколение
                            p.car-desc__year 2015-2018
        .cards-top.cars-top
            h2.cards__title.recommend-reviews__title.h2 superb
        .cards-list
            .cards-wrap.cars-wrap
                .car
                    .car-wrap
                        a.car-img(href="#")
                            img(src="uploads/superb-1.png", alt="superb(лифтбэк)")
                        .car-desc
                            a.car-desc__title(href="#") superb(лифтбэк)
                            p.car-desc__generation 2 поколение
                            p.car-desc__year 2018-н.в.
                .car
                    .car-wrap
                        a.car-img(href="#")
                            img(src="uploads/superb-2.png", alt="superb(лифтбэк)")
                        .car-desc
                            a.car-desc__title(href="#") superb(лифтбэк)
                            p.car-desc__generation 2 поколение
                            p.car-desc__year 2010-2018
                .car
                    .car-wrap
                        a.car-img(href="#")
                            img(src="uploads/superb-3.jpg", alt="superb(лифтбэк)")
                        .car-desc
                            a.car-desc__title(href="#") superb(лифтбэк)
                            p.car-desc__generation 1 поколение
                            p.car-desc__year 2000-2009