doctype html
html(lang="ru")
    include global/head.pug
    body
        include global/header.pug
        //main
        main.wrapper
            include pages/engines/breadcrumbs
            include pages/engines/engine-content
        include global/footer
        include global/modal
        include global/modal-menu
        include global/scripts
        include pages/pages
