doctype html
html(lang="ru")
    include global/head.pug
    body
        include global/header.pug
        //main
        main.wrapper
            include pages/reviews/breadcrumbs
            include pages/reviews/top-reviews
            include pages/reviews/all-reviews
        include global/footer
        include global/modal
        include global/modal-menu
        include global/scripts
        include pages/pages
