<!DOCTYPE html>
html(lang="ru")
	include global/head
	body
		include global/header
		main.wrapper
			include ui/1-typography
			include ui/2-buttons
			include ui/3-color
			include ui/4-card
			include ui/5-breadcrumbs
			include ui/6-pagination
			include ui/7-search
		include global/footer
		include global/modal
		include global/modal-menu
		include global/scripts
		include pages/pages
