section.answers
    .container
        h2.answers__title Комментарии
        .answer
            .answer-wrap
                .answer__img
                    img(src="uploads/user-logo.jpg", alt="Пользователь")
                .answer-row
                    p.answer__name Константин Заруцкий
                    p.answer__time 15 часов назад
            .answer-wrap
                .answer-ratings
                    button.answer-ratings__like Мне нравится
                    span.answer-ratings__count 15
                    button.answer-ratings__like.answer-ratings__dislike Мне не нравится
                p.answer__text
                    | ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода. Придраться можно разве что к сенсорным клавишам мультимедийки, ведь даже для простой регулировки громкости придется тыкать пальцем в бездушный кусок стекла с насечками «+» или «-». И хотя отклик на нажатие — на зависть Тойотам и Кадиллакам, я уже скучаю по привычной осязаемой шайбе.
            button.answer__comment Ответить
        .answer
            .answer-wrap
                .answer__img
                    img(src="uploads/user-logo.jpg", alt="Пользователь")
                .answer-row
                    p.answer__name Константин Заруцкий
                    p.answer__time 15 часов назад
            .answer-wrap
                .answer-ratings
                    button.answer-ratings__like Мне нравится
                    span.answer-ratings__count 15
                    button.answer-ratings__like.answer-ratings__dislike Мне не нравится
                p.answer__text
                    | ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода. Придраться можно разве что к сенсорным клавишам мультимедийки, ведь даже для простой регулировки громкости придется тыкать пальцем в бездушный кусок стекла с насечками «+» или «-». И хотя отклик на нажатие — на зависть Тойотам и Кадиллакам, я уже скучаю по привычной осязаемой шайбе.
            button.answer__comment Ответить
            .answer
                .answer-wrap
                    .answer__img
                        img(src="uploads/user-logo.jpg", alt="Пользователь")
                    .answer-row
                        p.answer__name Константин Заруцкий
                        p.answer__time 15 часов назад
                .answer-wrap
                    .answer-ratings
                        button.answer-ratings__like Мне нравится
                        span.answer-ratings__count 15
                        button.answer-ratings__like.answer-ratings__dislike Мне не нравится
                    p.answer__text
                        | ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода. Придраться можно разве что к сенсорным клавишам мультимедийки, ведь даже для простой регулировки громкости придется тыкать пальцем в бездушный кусок стекла с насечками «+» или «-». И хотя отклик на нажатие — на зависть Тойотам и Кадиллакам, я уже скучаю по привычной осязаемой шайбе.
                button.answer__comment Ответить
                .answer
                    .answer-wrap
                        .answer__img
                            img(src="uploads/user-logo.jpg", alt="Пользователь")
                        .answer-row
                            p.answer__name Константин Заруцкий
                            p.answer__time 15 часов назад
                    .answer-wrap
                        .answer-ratings
                            button.answer-ratings__like Мне нравится
                            span.answer-ratings__count 15
                            button.answer-ratings__like.answer-ratings__dislike Мне не нравится
                        p.answer__text
                            | ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода. Придраться можно разве что к сенсорным клавишам мультимедийки, ведь даже для простой регулировки громкости придется тыкать пальцем в бездушный кусок стекла с насечками «+» или «-». И хотя отклик на нажатие — на зависть Тойотам и Кадиллакам, я уже скучаю по привычной осязаемой шайбе.
                    button.answer__comment.answer__comment--last Ответить
        .answer
            .answer-wrap
                .answer__img
                    img(src="uploads/user-logo.jpg", alt="Пользователь")
                .answer-row
                    p.answer__name Константин Заруцкий
                    p.answer__time 15 часов назад
            .answer-wrap
                .answer-ratings
                    button.answer-ratings__like Мне нравится
                    span.answer-ratings__count 15
                    button.answer-ratings__like.answer-ratings__dislike Мне не нравится
                p.answer__text
                    | ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода. Придраться можно разве что к сенсорным клавишам мультимедийки, ведь даже для простой регулировки громкости придется тыкать пальцем в бездушный кусок стекла с насечками «+» или «-». И хотя отклик на нажатие — на зависть Тойотам и Кадиллакам, я уже скучаю по привычной осязаемой шайбе.
            button.answer__comment Ответить
        form.answers-form(action="", method="get",)
            textarea.answers-form__comment(placeholder="Оставить комментарий...", name="comments")
            input(type="file", id="form-download", name="download-file")
            label.answers-form__download(for="form-download", aria-label="Загрузить файл")
            buttona.btn.btn_primary.btn_uppercase.answers-form__submit(type="submit") Оставить комментарий
