section.breadcrumbs
    .container
        h1.h1 Skoda Octavia A7
        ul.breadcrumbs-list
            li
                a(href="#") Главная
            li
                a(href="#") Автомобили
            li
                a Skoda Octavia A7