section.gallery
    .gallery-top
        .container
            h2.gallery-top.h2 Галерея
    .gallery-for
        div
            img(src='uploads/gallery-1.jpg')
        div
            img(src='uploads/gallery-1.jpg')
        div
            img(src='uploads/gallery-1.jpg')
        div
            img(src='uploads/gallery-1.jpg')
        div
            img(src='uploads/gallery-1.jpg')
    .container
        .gallery-nav
            div
                img(src='uploads/gallery-1.jpg')
            div
                img(src='uploads/gallery-1.jpg')
            div
                img(src='uploads/gallery-1.jpg')
            div
                img(src='uploads/gallery-1.jpg')
            div
                img(src='uploads/gallery-1.jpg')