section.gallery-point
    .container
        img(src='images/review-3.jpg', alt='Галлерея')
        .gallery-point__item(data-x='72.4135%', data-y='36.2756%')
            span
            .gallery-point__tooltip
                .gallery-point__tooltip-wrap
                    h3 Головное освещение
                    p Внешние модули фар отвечают за ближний свет. В тех, что срослись с радиаторной решеткой, - лампы дальнего света. У машин начиная со среднего исполнения Ambition оптика может быть полностью светодиодной.
                .gallery-point__img
                    img(src="uploads/lamp.png")
        .gallery-point__item(data-x='57.4038%', data-y='57.2436%')
            span
            .gallery-point__tooltip
                .gallery-point__tooltip-wrap
                    h3 Головное освещение
                    p Внешние модули фар отвечают за ближний свет. В тех, что срослись с радиаторной решеткой, - лампы дальнего света. У машин начиная со среднего исполнения Ambition оптика может быть полностью светодиодной.
                .gallery-point__img
                    img(src="uploads/lamp.png")
        .gallery-point__item(data-x='50.4744%', data-y='25.6346%')
            span
            .gallery-point__tooltip
                .gallery-point__tooltip-wrap
                    h3 Головное освещение
                    p Внешние модули фар отвечают за ближний свет. В тех, что срослись с радиаторной решеткой, - лампы дальнего света. У машин начиная со среднего исполнения Ambition оптика может быть полностью светодиодной.
                .gallery-point__img
                    img(src="uploads/lamp.png")
        .gallery-point__item(data-x='43.2756%', data-y='57.4135%')
            span
            .gallery-point__tooltip
                .gallery-point__tooltip-wrap
                    h3 Головное освещение
                    p Внешние модули фар отвечают за ближний свет. В тех, что срослись с радиаторной решеткой, - лампы дальнего света. У машин начиная со среднего исполнения Ambition оптика может быть полностью светодиодной.
                .gallery-point__img
                    img(src="uploads/lamp.png")
        .gallery-point__item(data-x='30.2436%', data-y='35.4038%')
            span
            .gallery-point__tooltip
                .gallery-point__tooltip-wrap
                    h3 Головное освещение
                    p Внешние модули фар отвечают за ближний свет. В тех, что срослись с радиаторной решеткой, - лампы дальнего света. У машин начиная со среднего исполнения Ambition оптика может быть полностью светодиодной.
                .gallery-point__img
                    img(src="uploads/lamp.png")
        .gallery-point__item(data-x='22.4744%', data-y='54.6346%')
            span
            .gallery-point__tooltip
                .gallery-point__tooltip-wrap
                    h3 Головное освещение
                    p Внешние модули фар отвечают за ближний свет. В тех, что срослись с радиаторной решеткой, - лампы дальнего света. У машин начиная со среднего исполнения Ambition оптика может быть полностью светодиодной.
                .gallery-point__img
                    img(src="uploads/lamp.png")



