//reviews-content
section.reviews-content
    .container
        .reviews-content-block
            h2.reviews-content__title Сенсорная депривация
            p.content__txt Есть мнение, что лучшее — враг хорошего. И оно определенно бытует среди интерьерщиков Шкоды. На первый взгляд в изначально продуманном и добротном салоне Октавии нет ничего нового. Но постепенно замечаешь топовую мультимедийную систему Columbus с экраном диагональю 9,2 дюйма, новый климатический блок с черными глянцевыми клавишами и фоновую подсветку на обшивке дверей. Все эти «ништяки» достались Октавии от дебютировавшего не так давно
                a(href="#") кадьяка.
            p.content__txt Придраться можно разве что к сенсорным клавишам мультимедийки, ведь даже для простой регулировки громкости придется тыкать пальцем в бездушный кусок стекла с насечками «+» или «-». И хотя отклик на нажатие — на зависть Тойотам и Кадиллакам, я уже скучаю по привычной осязаемой шайбе.
            .engine-table-article-img_left
                .left
                    img(src="images/review-1.jpg")
                    span Интерьер тот же. Качество матери­алов — на прежнем высоком уровне. Доплата за топовую мультимедийную систему Columbus с 9,2‑дюймовым дисплеем составит 66 100 рублей для исполнения Ambition и 88 300 рублей — для Style.
                .right
                    p.content__txt На этом с передней частью салона всё. Не считая нескольких новых «фишек» серии Simply Clever, а именно зонтика под пассажирским сиденьем (до Октавии это решение добралось только сейчас), держателя для бутылок на центральной консоли и — наконец-то! — обогреваемого руля.
                    p.content__txt Для задних пассажиров — два нововведения: появилась возможность заказать пару дополнительных USB-розеток и откидные столики на спинках передних кресел. Остальное, включая трехступенчатый обогрев сидений и держатели для гаджетов, было доступно и до рестайлинга. По части простора машине по-прежнему нет равных в классе. Причем не только в своем! Да и багажник лифтбека с заявленным объемом 568 литров остается одним из рекордных. Что до универсала… В России «сарай» окажется штучным товаром, даром что его багажник еще удобнее и вместительнее.
            p.content__txt Дело в том, что лифтбеки собирают на заводе «Группы ГАЗ» в Нижнем Новгороде, тогда как универсалы — исключительно в Млада-Болеславе. Вот почему самая скромная Octavia Combi 1.6 с механической коробкой предлагается за 1 207 000 рублей — примерно на четверть миллиона дороже аналогичного лифтбека (от 940 000 рублей) и схожих по характеристикам и оснащению универсалов Kia сee’d SW и Ford Focus.
        .reviews-content-block
            h2.reviews-content__title Популярная механика
            p.content__txt Новинки новинками, но давайте поговорим о тех версиях Октавии, которые в России действительно покупают. У нас правят бал лифтбеки с 1,6‑литровым атмосферником и классическим 6-ступенчатым автоматом: их доля составляет около четверти всех продаж. Практически вровень идет аналогичная версия с 5-ступенчатой механикой.
            .engine-table-article-img_right.clearfix
                .right
                    img(src="images/review-2.jpg")
                    span Интерьер тот же. Качество матери­алов — на прежнем высоком уровне. Доплата за топовую мультимедийную систему Columbus с 9,2‑дюймовым дисплеем составит 66 100 рублей для исполнения Ambition и 88 300 рублей — для Style.
                .left
                    p.content__txt В Европе, где все давно свихнулись на дизелях и бензиновых турбомоторах объемом с пакет молока, таких машин нет в принципе. Так что освежить воспоминания в ходе презентации не вышло. Впрочем, беззубость «автоматической» Октавии с 110‑сильным мотором не забывается.
                    p.content__txt Причина успеха — в конструктивной простоте и низких эксплуатационных расходах. Античный атмосферник 1.6 MPI не вызывает у людей страха. Да и гидромеханический автомат надежнее робота с двумя сцеплениями — как бы ни убеждали в обратном инженеры!
                    p.content__txt Даже на пассивной подвеске Octavia чудо как хороша. Балует выверенной обратной связью, оптимальным усилием на руле и высокой плавностью хода. Управлять ею — что в городе, что на горных дорожках — одно удовольствие. И если доплатить за Drive Mode Selection (это, кстати, одна из самых доступных опций — оценена в 5400 рублей), позволя­ющую чуть зажать руль или сделать правую педаль немного отзывчивее, то тратиться на «динамичное шасси» не резон. Кстати, машины с адаптивными амортизаторами будут доступны для заказа лишь через полгода. Примерно тогда же станет известна и цена вопроса.
        .reviews-content-block
            h2.reviews-content__title Добрая внутри
            p.content__txt Когда о тебе говорят плохо — это всё же лучше, чем когда не говорят ничего. Не помню, кто именно автор этой фразы, но наверняка кто-то мудрый. Конечно, споры относительно внешности обновленной Октавии какое-то время еще будут занимать автомобилистов. И кто-то из потенциальных покупателей откажется от покупки, просто глянув в эти «глаза». Но, во‑первых, не торопитесь бежать в салон к конкурентам до тех пор, пока не увидите машину вживую. А во‑вторых, помните, что за этой неоднозначной внешностью скрывается, пожалуй, самый практичный, универсальный и дружелюбный автомобиль в своем классе.
        .reviews-content-block
            h2.reviews-content__title Доступные двигатели:
            .reviews-content-block-list
                ol
                    li 1.  1.6 MPI (110 л.с.), М5
                    li 2.  1.6 MPI (110 л.с.), А6
                    li 3.  1.4 TSI (150 л.с.), М6
                    li 4.  1.4 TSI (150 л.с.), DSG7
                    li 5.  1.8 TSI (180 л.с.), М6
                ul
                    li 1.6 MPI (110 л.с.), М5
                    li 1.6 MPI (110 л.с.), А6
                    li 1.4 TSI (150 л.с.), М6
                    li 1.4 TSI (150 л.с.), DSG7
                    li 1.8 TSI (180 л.с.), М6