section.review-slider
    div
        img(src='uploads/review-slide1.jpg')
        div.review-slider-desc
            .review-slider-meta
                span.review-slider__label Обзор
                span.review-slider__date 15.04.2018
            .review-slider-hashtags
                span.review-slider-hashtags__item #octavia
                span.review-slider-hashtags__item #skoda
                span.review-slider-hashtags__item #обзор
            .review-slider--rating
                span.review-slider__count 9.3
                span.review-slider__text Рейтинг

    div
        img(src='uploads/review-slide1.jpg')
        div.review-slider-desc
            .review-slider-meta
                span.review-slider__label Обзор
                span.review-slider__date 15.04.2018
            .review-slider-hashtags
                span.review-slider-hashtags__item #octavia
                span.review-slider-hashtags__item #skoda
                span.review-slider-hashtags__item #обзор
            .review-slider--rating
                span.review-slider__count 9.3
                span.review-slider__text Рейтинг
    div
        img(src='uploads/review-slide1.jpg')
        div.review-slider-desc
            .review-slider-meta
                span.review-slider__label Обзор
                span.review-slider__date 15.04.2018
            .review-slider-hashtags
                span.review-slider-hashtags__item #octavia
                span.review-slider-hashtags__item #skoda
                span.review-slider-hashtags__item #обзор
            .review-slider--rating
                span.review-slider__count 9.3
                span.review-slider__text Рейтинг
    div
        img(src='uploads/review-slide1.jpg')
        div.review-slider-desc
            .review-slider-meta
                span.review-slider__label Обзор
                span.review-slider__date 15.04.2018
            .review-slider-hashtags
                span.review-slider-hashtags__item #octavia
                span.review-slider-hashtags__item #skoda
                span.review-slider-hashtags__item #обзор
            .review-slider--rating
                span.review-slider__count 9.3
                span.review-slider__text Рейтинг
    div
        img(src='uploads/review-slide1.jpg')
        div.review-slider-desc
            .review-slider-meta
                span.review-slider__label Обзор
                span.review-slider__date 15.04.2018
            .review-slider-hashtags
                span.review-slider-hashtags__item #octavia
                span.review-slider-hashtags__item #skoda
                span.review-slider-hashtags__item #обзор
            .review-slider--rating
                span.review-slider__count 9.3
                span.review-slider__text Рейтинг
    div
        img(src='uploads/review-slide1.jpg')
        div.review-slider-desc
            .review-slider-meta
                span.review-slider__label Обзор
                span.review-slider__date 15.04.2018
            .review-slider-hashtags
                span.review-slider-hashtags__item #octavia
                span.review-slider-hashtags__item #skoda
                span.review-slider-hashtags__item #обзор
            .review-slider--rating
                span.review-slider__count 9.3
                span.review-slider__text Рейтинг