//second-section
section.second-section
    .container
        p На фотографиях обновленный лифтбек Skoda Octavia и правда выглядит неоднозначно: оквадраченные фары, гипертрофированная радиаторная решетка… Будто однажды утром в кабинет к дизайнеру Йозефу Кабану заглянул председатель совета директоров Детлеф Виттиг и сказал: «Дружище, нам нужно сотворить с Октавией нечто совершенно особенное. Такое, чтобы о нас заговорил ­весь мир». Главное, чтобы провожали по уму?
