//footer
footer.footer
    .container
        a(href="#").footer-logo
            svg.icon.icon-footer
                use(xlink:href='images/sprite/sprite.svg#footer-logo')
        .footer-nav
            ul
                li
                    a(href="#") Автомобили
                li
                    a(href="#") Octavia
                li
                    a(href="#") Kodiaq
                li
                    a(href="#") Rapid
                li
                    a(href="#") Superb
                li
                    a(href="#") Fabia
            ul
                li
                    a(href="#") Новости
                li
                    a(href="#") Выставки
                li
                    a(href="#") Отзывные кампании
                li
                    a(href="#") Скандалы
                li
                    a(href="#") Новинки
                li
                    a(href="#") Первое впечатление
            ul
                li
                    a(href="#") Обзоры
                li
                    a(href="#") Топ-обзоры
                li
                    a(href="#") Обзоры на новинки
            ul
                li
                    a(href="#") Двигатели
                li
                    a(href="#") 1.4 TSI DSG
                li
                    a(href="#") 1.6 MPI MT
                li
                    a(href="#") 2.0 TDI
                li
                    a(href="#") 1.6 TDI
                li
                    a(href="#") 1.6 TSI
            ul
                li
                    a(href="#") Фото
                li
                    a(href="#") Octavia
                li
                    a(href="#") Kodiaq
                li
                    a(href="#") Rapid
                li
                    a(href="#") Superb
                li
                    a(href="#") Fabia
            ul
                li
                    a(href="#") Обсуждения
                li
                    a(href="#") Популярные
                li
                    a(href="#") Новые
                li
                    a(href="#") Выбор автомобиля
                li
                    a(href="#") Обзоры
        .footer-bottom
            .footer-bottom-info
                p ©2018, Skoda .info
                p Политика конфиденциальности
                p Положение об обработке персональных данных
            .footer-bottom-social
                a(href="#") Facebook
                    svg.icon.icon-social_footer
                        use(xlink:href='images/sprite/sprite.svg#icon-fb')
                a(href="#") Instagram
                    svg.icon.icon-social_footer
                        use(xlink:href='images/sprite/sprite.svg#icon-ig')
                a(href="#") Twitter
                    svg.icon.icon-social_footer
                        use(xlink:href='images/sprite/sprite.svg#icon-tw')
