.modal.modal-menu
    button.icon-close
    .container
        a.modal-menu__link(href="#") Автомобили
        a.modal-menu__link(href="#") Новости
        a.modal-menu__link(href="#") Обзоры
        a.modal-menu__link(href="#") Двигатели
        a.modal-menu__link(href="#") Фото
        a.modal-menu__link(href="#") Обсуждения