section.cards.discussion
    .cards-top.discussion-top
        .container.container-flex
            h2.cards__title.discussion__title.h2
                | Обсуждения
            a.cards__link.discussion__link
                | Все Обсуждения
        .tabs
            .tabs-top
                .container
                    a.tabs-item(data-tab-top="popular") Популярные
                    a.tabs-item(data-tab-top="new") Самые новые
            .tabs-bottom
                .container
                    a.tabs-item(data-tab-bottom="term") Все темы
                    a.tabs-item(data-tab-bottom="engine") Про двигатели
                    a.tabs-item(data-tab-bottom="car") Про Автомобили
                    a.tabs-item(data-tab-bottom="about-new") Про новинки
                    a.tabs-item(data-tab-bottom="discussion") Обзоры
                    a.tabs-item(data-tab-bottom="selection") выбор авто
        .container
            .cards-list.discussion-list
                .cards-wrap.discussion-wrap.swiper-wrapper
                    a.card.discussion-card.swiper-slide(href="#")
                        .card-wrap
                            .discussion-card-meta
                                h2.discussion-card__title
                                    | Есть ли будущее у ŠKODA KODIAQ RS
                                .discussion-card-buttons
                                    span.discussion-card__count-comments 45
                                    span.discussion-card__count-views 5521
                                span.discussion-card__label Обсуждение
                                p.discussion-card__comment Лучший комментарий:
                            .discussion-card-wrap
                                .discussion-card-line
                                    .discussion-card__img
                                        img(src="uploads/user-logo.jpg", alt="Пользователь")
                                    .discussion-card-row
                                        p.discussion-card__name Константин Заруцкий
                                        p.discussion-card__time 15 часов назад
                                .discussion-card-line
                                    .discussion-card-ratings
                                        button.discussion-card-ratings__like Мне нравится
                                        span.discussion-card-ratings__count 15
                                        button.discussion-card-ratings__like.discussion-card-ratings__dislike Мне не нравится
                                    p.discussion-card__text
                                        | ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода.
                    a.card.discussion-card.swiper-slide(href="#")
                        .card-wrap
                            .discussion-card-meta
                                h2.discussion-card__title
                                    | Есть ли будущее у ŠKODA KODIAQ RS
                                .discussion-card-buttons
                                    span.discussion-card__count-comments 45
                                    span.discussion-card__count-views 5521
                                span.discussion-card__label Обсуждение
                                p.discussion-card__comment Лучший комментарий:
                            .discussion-card-wrap
                                .discussion-card-line
                                    .discussion-card__img
                                        img(src="uploads/user-logo.jpg", alt="Пользователь")
                                    .discussion-card-row
                                        p.discussion-card__name Константин Заруцкий
                                        p.discussion-card__time 15 часов назад
                                .discussion-card-line
                                    .discussion-card-ratings
                                        button.discussion-card-ratings__like Мне нравится
                                        span.discussion-card-ratings__count 15
                                        button.discussion-card-ratings__like.discussion-card-ratings__dislike Мне не нравится
                                    p.discussion-card__text
                                        | ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода.
                    a.card.discussion-card.swiper-slide(href="#")
                        .card-wrap
                            .discussion-card-meta
                                h2.discussion-card__title
                                    | Есть ли будущее у ŠKODA KODIAQ RS
                                .discussion-card-buttons
                                    span.discussion-card__count-comments 45
                                    span.discussion-card__count-views 5521
                                span.discussion-card__label Обсуждение
                                p.discussion-card__comment Лучший комментарий:
                            .discussion-card-wrap
                                .discussion-card-line
                                    .discussion-card__img
                                        img(src="uploads/user-logo.jpg", alt="Пользователь")
                                    .discussion-card-row
                                        p.discussion-card__name Константин Заруцкий
                                        p.discussion-card__time 15 часов назад
                                .discussion-card-line
                                    .discussion-card-ratings
                                        button.discussion-card-ratings__like Мне нравится
                                        span.discussion-card-ratings__count 15
                                        button.discussion-card-ratings__like.discussion-card-ratings__dislike Мне не нравится
                                    p.discussion-card__text
                                        | ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода.
                    a.card.discussion-card.swiper-slide(href="#")
                        .card-wrap
                            .discussion-card-meta
                                h2.discussion-card__title
                                    | Есть ли будущее у ŠKODA KODIAQ RS
                                .discussion-card-buttons
                                    span.discussion-card__count-comments 45
                                    span.discussion-card__count-views 5521
                                span.discussion-card__label Обсуждение
                                p.discussion-card__comment Лучший комментарий:
                            .discussion-card-wrap
                                .discussion-card-line
                                    .discussion-card__img
                                        img(src="uploads/user-logo.jpg", alt="Пользователь")
                                    .discussion-card-row
                                        p.discussion-card__name Константин Заруцкий
                                        p.discussion-card__time 15 часов назад
                                .discussion-card-line
                                    .discussion-card-ratings
                                        button.discussion-card-ratings__like Мне нравится
                                        span.discussion-card-ratings__count 15
                                        button.discussion-card-ratings__like.discussion-card-ratings__dislike Мне не нравится
                                    p.discussion-card__text
                                        | ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода.
                    a.card.discussion-card.swiper-slide(href="#")
                        .card-wrap
                            .discussion-card-meta
                                h2.discussion-card__title
                                    | Есть ли будущее у ŠKODA KODIAQ RS
                                .discussion-card-buttons
                                    span.discussion-card__count-comments 45
                                    span.discussion-card__count-views 5521
                                span.discussion-card__label Обсуждение
                                p.discussion-card__comment Лучший комментарий:
                            .discussion-card-wrap
                                .discussion-card-line
                                    .discussion-card__img
                                        img(src="uploads/user-logo.jpg", alt="Пользователь")
                                    .discussion-card-row
                                        p.discussion-card__name Константин Заруцкий
                                        p.discussion-card__time 15 часов назад
                                .discussion-card-line
                                    .discussion-card-ratings
                                        button.discussion-card-ratings__like Мне нравится
                                        span.discussion-card-ratings__count 15
                                        button.discussion-card-ratings__like.discussion-card-ratings__dislike Мне не нравится
                                    p.discussion-card__text
                                        | ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода.
                    a.card.discussion-card.swiper-slide(href="#")
                        .card-wrap
                            .discussion-card-meta
                                h2.discussion-card__title
                                    | Есть ли будущее у ŠKODA KODIAQ RS
                                .discussion-card-buttons
                                    span.discussion-card__count-comments 45
                                    span.discussion-card__count-views 5521
                                span.discussion-card__label Обсуждение
                                p.discussion-card__comment Лучший комментарий:
                            .discussion-card-wrap
                                .discussion-card-line
                                    .discussion-card__img
                                        img(src="uploads/user-logo.jpg", alt="Пользователь")
                                    .discussion-card-row
                                        p.discussion-card__name Константин Заруцкий
                                        p.discussion-card__time 15 часов назад
                                .discussion-card-line
                                    .discussion-card-ratings
                                        button.discussion-card-ratings__like Мне нравится
                                        span.discussion-card-ratings__count 15
                                        button.discussion-card-ratings__like.discussion-card-ratings__dislike Мне не нравится
                                    p.discussion-card__text
                                        | ŠKODA дает первый взгляд на совершенно новую модель хэтчбека, которая знаменует следующую разработку для нового дизайн-кода.
                .cards__pagination.discussion__pagination.swiper-pagination
    .cards-bottom.discussion-bottom
        .container
            a.cards__link.discussion__link
                | Все новости