section.home-slider
    .container.swiper-width
        .swiper-area
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src='uploads/slide1.jpg')
                        .home-slider-desc
                            h2.home-slider-desc__title ŠKODA KODIAQ RS
                            p.home-slider-desc__text
                                | Первый внедорожник ŠKODA RS впечатляет дизельным двигателем 240-PS biturbo, высокоглянцевыми черными и 20-дюймовыми колесами из сплава Xtreme.
                            a(href="#").btn.btn_primary.btn_uppercase.home-slider-desc__btn
                                | Подробнее об авто
                            .home-slider__pagination.swiper-pagination
                    .swiper-slide
                        img(src='uploads/slide1.jpg')
                        .home-slider-desc
                            h2.home-slider-desc__title ŠKODA KODIAQ RS
                            p.home-slider-desc__text
                                | Первый внедорожник ŠKODA RS впечатляет дизельным двигателем 240-PS biturbo, высокоглянцевыми черными и 20-дюймовыми колесами из сплава Xtreme.
                            a(href="#").btn.btn_primary.btn_uppercase.home-slider-desc__btn
                                | Подробнее об авто
                            .home-slider__pagination.swiper-pagination
                    .swiper-slide
                        img(src='uploads/slide1.jpg')
                        .home-slider-desc
                            h2.home-slider-desc__title ŠKODA KODIAQ RS
                            p.home-slider-desc__text
                                | Первый внедорожник ŠKODA RS впечатляет дизельным двигателем 240-PS biturbo, высокоглянцевыми черными и 20-дюймовыми колесами из сплава Xtreme.
                            a(href="#").btn.btn_primary.btn_uppercase.home-slider-desc__btn
                                | Подробнее об авто
                            .home-slider__pagination.swiper-pagination
                    .swiper-slide
                        img(src='uploads/slide1.jpg')
                        .home-slider-desc
                            h2.home-slider-desc__title ŠKODA KODIAQ RS
                            p.home-slider-desc__text
                                | Первый внедорожник ŠKODA RS впечатляет дизельным двигателем 240-PS biturbo, высокоглянцевыми черными и 20-дюймовыми колесами из сплава Xtreme.
                            a(href="#").btn.btn_primary.btn_uppercase.home-slider-desc__btn
                                | Подробнее об авто
                            .home-slider__pagination.swiper-pagination
                    .swiper-slide
                        img(src='uploads/slide1.jpg')
                        .home-slider-desc
                            h2.home-slider-desc__title ŠKODA KODIAQ RS
                            p.home-slider-desc__text
                                | Первый внедорожник ŠKODA RS впечатляет дизельным двигателем 240-PS biturbo, высокоглянцевыми черными и 20-дюймовыми колесами из сплава Xtreme.
                            a(href="#").btn.btn_primary.btn_uppercase.home-slider-desc__btn
                                | Подробнее об авто
                            .home-slider__pagination.swiper-pagination