section.cards.news
    .container
        .cards-top.news-top
            h2.cards__title.news__title.h2
                | Последние новости
            a.cards__link.news__link
                | Все новости
        .cards-list.news-list
            .cards-wrap.news-wrap.swiper-wrapper
                a.card.news-item.swiper-slide(href="#")
                    .card-wrap
                        .card-img
                            img(src="uploads/news-1.jpg", alt="Будущая компактная модель ŠKODA")
                        .card-desc
                            h2.card-desc__title Будущая компактная модель ŠKODA
                            .card-desc-row
                                span.card-desc__label Инсайты
                                span.card-desc__date 15.04.2018
                a.card.news-item.swiper-slide(href="#")
                    .card-wrap
                        .card-img
                            img(src="uploads/news-2.jpg", alt="ŠKODA FABIA Limited Edition")
                        .card-desc
                            h2.card-desc__title ŠKODA FABIA Limited Edition
                            .card-desc-row
                                span.card-desc__label Экстерьер
                                span.card-desc__date 15.04.2018
                a.card.news-item.swiper-slide(href="#")
                    .card-wrap
                        .card-img
                            img(src="uploads/news-3.jpg", alt="ŠKODA KAROQ SPORTLINE")
                        .card-desc
                            h2.card-desc__title ŠKODA KAROQ SPORTLINE
                            .card-desc-row
                                span.card-desc__label Инсайты
                                span.card-desc__date 15.04.2018
                a.card.news-item.swiper-slide(href="#")
                    .card-wrap
                        .card-img
                            img(src="uploads/overview-2.jpg", alt="ŠKODA представила новый руль")
                        .card-desc
                            h2.card-desc__title ŠKODA представила новый руль
                            .card-desc-row
                                span.card-desc__label Экстерьер
                                span.card-desc__date 15.04.2018
            .cards__pagination.news__pagination.swiper-pagination
        .cards-bottom.news-bottom
            a.cards__link.news__link
                | Все новости