section.cards.reviews
    .container
        .cards-top.reviews-top
            h2.cards__title.reviews__title.h2
                | Обзоры
            a.cards__link.reviews__link
                | Все обзоры
        .cards-list.reviews-list
            .cards-wrap.reviews-wrap.swiper-wrapper
                a.card.reviews-item.swiper-slide(href="#")
                    .card-wrap
                        .card-img
                            img(src="uploads/news-1.jpg", alt="Будущая компактная модель ŠKODA")
                        .card-desc
                            h2.card-desc__title Будущая компактная модель ŠKODA
                            .card-desc-row
                                span.card-desc__label Инсайты
                                span.card-desc__date 15.04.2018
                a.card.reviews-item.swiper-slide(href="#")
                    .card-wrap
                        .card-img
                            img(src="uploads/news-2.jpg", alt="ŠKODA FABIA Limited Edition")
                        .card-desc
                            h2.card-desc__title ŠKODA FABIA Limited Edition
                            .card-desc-row
                                span.card-desc__label Экстерьер
                                span.card-desc__date 15.04.2018
                a.card.reviews-item.swiper-slide(href="#")
                    .card-wrap
                        .card-img
                            img(src="uploads/news-3.jpg", alt="ŠKODA KAROQ SPORTLINE")
                        .card-desc
                            h2.card-desc__title ŠKODA KAROQ SPORTLINE
                            .card-desc-row
                                span.card-desc__label Инсайты
                                span.card-desc__date 15.04.2018
                a.card.reviews-item.swiper-slide(href="#")
                    .card-wrap
                        .card-img
                            img(src="uploads/overview-2.jpg", alt="ŠKODA представила новый руль")
                        .card-desc
                            h2.card-desc__title ŠKODA представила новый руль
                            .card-desc-row
                                span.card-desc__label Экстерьер
                                span.card-desc__date 15.04.2018
                a.card.reviews-item.swiper-slide(href="#")
                    .card-wrap
                        .card-img
                            img(src="uploads/overview-2.jpg", alt="ŠKODA представила новый руль")
                        .card-desc
                            h2.card-desc__title ŠKODA представила новый руль
                            .card-desc-row
                                span.card-desc__label Экстерьер
                                span.card-desc__date 15.04.2018
                a.card.reviews-item.swiper-slide(href="#")
                    .card-wrap
                        .card-img
                            img(src="uploads/overview-2.jpg", alt="ŠKODA представила новый руль")
                        .card-desc
                            h2.card-desc__title ŠKODA представила новый руль
                            .card-desc-row
                                span.card-desc__label Экстерьер
                                span.card-desc__date 15.04.2018
            .cards__pagination.reviews__pagination.swiper-pagination
        .cards-bottom.reviews-bottom
            a.cards__link.reviews__link
                | Все новости