.discussions {
  &--with-bg {
    background: #FBFBFB;
  }

  &__title {
    display: none;
  }

  .container {

  }

  &-item {
    margin-bottom: 20px;
    padding: 18px 55px 18px 21px;
    background: #FBFBFB;
    @include mq('tablet', 'max') {
      padding: 18px 21px;
    }
  }

  &-item__title {
    margin-bottom: 35px;
    font-family: $font-family-main;
    line-height: 1;
    font-size: 20px;
    color: $color-black;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;

    @include mq('tablet', 'max') {
      margin-bottom: 20px;
      font-size: 16px;
      white-space: normal;
    }
  }

  &-item__text {
    margin-bottom: 30px;
    font-family: $font-family-main;
    line-height: 1.2;
    font-size: 14px;
    color: $color-black;
    &:last-of-type {
      margin-bottom: 45px;
    }
  }

  &-item__labels {
    margin-bottom: 28px;
  }

  &-labels__type {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    padding: 2px 14px;
    font-family: $font-family-regular;
    font-weight: $font-weight-light;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border: 1px solid #61b248;
    color: #61b248;
  }

  &-item__meta {

  }

  &-item__date {
    position: relative;
    margin-right: 20px;
    font-family: $font-family-main;
    font-size: 15px;
    line-height: 1;
    color: $color-black;
    opacity: 0.4;
    @include mq('tablet', 'max') {
      margin-right: 10px;
      font-size: 12px;
    }
  }

  &-item__count-views,
  &-item__count-comments {
    position: relative;
    padding-left: 24px;
    font-size: 15px;
    line-height: 15px;
    opacity: 0.5;
    color: $color-black;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }

    @include mq('tablet', 'max') {
     font-size: 12px;
    }
  }


  &-item__count-comments {
    margin-right: 20px;
    color: #61B248;
    opacity: 1;
    &:before {
      width: 17px;
      height: 15px;
      background-image:url('data:image/svg+xml,%3Csvg%20width%3D%2219%22%20height%3D%2217%22%20viewBox%3D%220%200%2019%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.821%200H1.16C.519%200%200%20.548%200%201.222v10.244c0%20.674.52%201.222%201.159%201.222h1.998v3.225c0%20.97%201.119%201.454%201.758.759l3.776-4.005h9.15c.64%200%201.159-.548%201.159-1.222V1.222C18.98.548%2018.46%200%2017.821%200zM4.595%207.84c-.799%200-1.438-.674-1.438-1.517%200-.843.639-1.517%201.438-1.517.8%200%201.439.674%201.439%201.517%200%20.843-.66%201.518-1.439%201.518zm4.895%200c-.8%200-1.438-.674-1.438-1.517%200-.843.639-1.517%201.438-1.517.8%200%201.438.674%201.438%201.517%200%20.843-.639%201.518-1.438%201.518zm4.895%200c-.8%200-1.439-.674-1.439-1.517%200-.843.64-1.517%201.439-1.517s1.438.674%201.438%201.517c0%20.843-.639%201.518-1.438%201.518z%22%20fill%3D%22%2361B248%22%2F%3E%3C%2Fsvg%3E');
    }
    @include mq('tablet', 'max') {
      margin-right: 10px;
    }
  }

  &-item__count-views {
    &:before {
      width: 17px;
      height: 11px;
      background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2217%22%20height%3D%2211%22%20viewBox%3D%220%200%2017%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.5%200C4.746%200%201.507%202.25%200%205.5%201.506%208.752%204.744%2011%208.5%2011c3.756%200%206.994-2.248%208.5-5.5C15.493%202.25%2012.254%200%208.5%200zm0%202.538c1.565%200%202.833%201.326%202.833%202.962%200%201.636-1.268%202.962-2.833%202.962-1.565%200-2.833-1.326-2.833-2.962%200-1.636%201.268-2.962%202.833-2.962z%22%20fill%3D%22%23B0B0B0%22%2F%3E%3C%2Fsvg%3E');
    }
  }
}