//engine-content
section.engine-content
    .container
        p.engine-content__text Skoda Auto — известный чешcкий производитель, выпускающий, преимущественно, семейные автомобили среднего ценового сегмента. Вместе с Porsche, Audi, Seat, Lamborghini и Bentley, Шкода входит в состав лидера европейского авторынка — концерна Volkswagen AG. Соответственно и продукция Шкоды весьма сильно унифицирована с основной маркой группы и, как правило, каждая модель имеет свой аналог в производственной гамме Volkswagen.
        .engine-content-block
            .engine-content-block-head
                h2.news__title.news__title_img.fabia Fabia
                a.news__link.news__link_engine К автомобилю
            p.engine-content__text Шкода Фабия была разработана на базе Volkswagen Polo и довольно серьезно унифицирована с ним, эта унификация затронула и двигатели, здесь они такие же, как и на Поло: бензиновые 1.2, 1.4 и 1.6, топовая модификация RS оснащается 1.4 литровым 180 сильным турбо мотором, дизельные вариации от 1.2 до 1.9 литров. Ниже описание всех этих моторов (обновляется): их характеристики, масло в двигатель, проблемы и ремонт, практический ресурс моторов, тюнинг и многое другое.
            .engine-content-block-list
                ul
                    li III generation
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                ul
                    li II generation
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.

                ul
                    li I generation
                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.

        .engine-content-block
            .engine-content-block-head
                h2.news__title.news__title_img.octavia Octavia
                a.news__link.news__link_engine К автомобилю
            p.engine-content__text Шкода Фабия была разработана на базе Volkswagen Polo и довольно серьезно унифицирована с ним, эта унификация затронула и двигатели, здесь они такие же, как и на Поло: бензиновые 1.2, 1.4 и 1.6, топовая модификация RS оснащается 1.4 литровым 180 сильным турбо мотором, дизельные вариации от 1.2 до 1.9 литров. Ниже описание всех этих моторов (обновляется): их характеристики, масло в двигатель, проблемы и ремонт, практический ресурс моторов, тюнинг и многое другое.
            .engine-content-block-list
                ul
                    li III generation
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                ul
                    li II generation
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.

                ul
                    li I generation
                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.

        .engine-content-block
            .engine-content-block-head
                h2.news__title.news__title_img.rapid Rapid
                a.news__link.news__link_engine К автомобилю
            p.engine-content__text Шкода Фабия была разработана на базе Volkswagen Polo и довольно серьезно унифицирована с ним, эта унификация затронула и двигатели, здесь они такие же, как и на Поло: бензиновые 1.2, 1.4 и 1.6, топовая модификация RS оснащается 1.4 литровым 180 сильным турбо мотором, дизельные вариации от 1.2 до 1.9 литров. Ниже описание всех этих моторов (обновляется): их характеристики, масло в двигатель, проблемы и ремонт, практический ресурс моторов, тюнинг и многое другое.
            .engine-content-block-list
                ul
                    li III generation
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                ul
                    li II generation
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.

                ul
                    li I generation
                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.

        .engine-content-block
            .engine-content-block-head
                h2.news__title.news__title_img.superb Superb
                a.news__link.news__link_engine К автомобилю
            p.engine-content__text Шкода Фабия была разработана на базе Volkswagen Polo и довольно серьезно унифицирована с ним, эта унификация затронула и двигатели, здесь они такие же, как и на Поло: бензиновые 1.2, 1.4 и 1.6, топовая модификация RS оснащается 1.4 литровым 180 сильным турбо мотором, дизельные вариации от 1.2 до 1.9 литров. Ниже описание всех этих моторов (обновляется): их характеристики, масло в двигатель, проблемы и ремонт, практический ресурс моторов, тюнинг и многое другое.
            .engine-content-block-list
                ul
                    li III generation
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                ul
                    li II generation
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.

                ul
                    li I generation
                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li Skoda Fabia (60 л.с.) — 1.0 л.

                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
