section.breadcrumbs
    .container
        h1.h1 Двигатель skoda 1.4 TSI
        ul.breadcrumbs-list
            li
                a(href="#") Главная
            li
                a(href="#") Двигатели
            li
                a Двигатель Skoda 1.4 TSI