//engine-table
section.engine-table
    .container
        h2.h2 Основная информация
        p.engine-content__text Чем больше объём двигателя, тем мощнее машина, и тем, как правило, она больше. Нет смысла ставить малокубатурный мотор на большой автомобиль, двигатель просто не сможет справится с его массой, так же бессмысленно и обратное — ставить большой мотор на лёгкий автомобиль. Поэтому производители пытаются подобрать мотор... к цене машины. Чем дороже и престижней модель, тем большего объёма на ней двигатель и тем он мощнее. Бюджетные версии редко могут похвастать кубатурой свыше двух литров.
        .engine-table-block
            .engine-table-block-left
                .engine-table-block__title Характеристики Двигателя 1.4 TSI
                table.engine-table
                    tr
                        td Производство
                        td Mlada Boleslav Plant
                    tr
                        td Марка двигателя
                        td EA111
                    tr
                        td Годы выпуска
                        td 2005-2015
                    tr
                        td Материал блока цилиндров
                        td чугун
                    tr
                        td Система питания
                        td инжектор
                    tr
                        td Тип
                        td рядный
                    tr
                        td Количество цилиндров
                        td 4
                    tr
                        td Клапанов на цилиндр
                        td 4
                    tr
                        td Ход поршня, мм
                        td 75.6
                    tr
                        td Диаметр цилиндра, мм
                        td 76.5
                    tr
                        td Степень сжатия
                        td 10
                    tr
                        td Объем двигателя, куб.см
                        td 1390
                    tr
                        td Мощность двигателя, л.с./об.мин
                        td 122/5000
                    tr
                        td Крутящий момент, Нм/об.мин
                        td 200/1500-4000
                    tr
                        td Топливо
                        td 95-98
                    tr
                        td Экологические нормы
                        td Евро 4
                    tr
                        td Вес двигателя, кг
                        td ~126
                    tr
                        td Расход  топлива, л/100 км
                        td город 8.2
                    tr
                        td
                        td трасса 5.1
                    tr
                        td
                        td смешан.	6.2
                    tr
                        td Расход масла, гр./1000 км
                        td до 500
                    tr
                        td Масло в двигатель
                        td 5W-30
                    tr
                        td Сколько масла в двигателе
                        td 3.6
                    tr
                        td Замена масла проводится, км
                        td 15000 (лучше 7500)
                    tr
                        td Рабочая температура двигателя, град.
                        td ~90
            .engine-table-block-right
                .engine-table-block__title Преимущества
                ul.plus
                    li Конструкция двигателей на первый взгляд максимально проста, но есть целый ряд интересных решений. Чугунный блок, алюминиевая 16-клапанная ГБЦ — как у десятков других конструкций. Но цепной привод ГРМ выполнен с отдельным кожухом цепи, что более характерно для ременных моторов и заметно облегчает ее обслуживание.
                    li Привод ГРМ имеет роликовые рокеры-толкатели и гидрокомпенсаторы. Датчик положения коленвала встроен в задний фланец двигателя. Система наддува выполнена с нетипичным для большинства наддувных двигателей жидкостным интеркулером, а система охлаждения – с двумя основными контурами, контуром охлаждения наддувного воздуха и электронасосом для дополнительного охлаждения турбины.
                    li Термостат стоит двухсекционный и двухступенчатый, обеспечивающий разную температуру блока цилиндров и ГБЦ и более плавную регулировку температур. Термостат блока цилиндров имеет температуру полного открытия 105 градусов, а термостат ГБЦ – 87.
                    li Система управления обычно используется Bosch, ТНВД — их же, но в некоторых вариантах установлен насос высокого давления Hitachi. Двухнаддувная версия с компрессором Roots – настоящее чудо технологий, и в итоге на маленьком двигателе получилось столько дополнительного оборудования и такой сложный впуск, что он оказался тяжелее двухлитровых моторов TSI.
                    li Для столь небольшого мотора непривычно видеть маслофорсунки охлаждения поршней и плавающий поршневой палец, но тут все серьезно и рассчитано на высокую мощность.
                .engine-table-block__title Недостатки
                ul.minus
                    li Постепенное повышение рабочей температуры двигателя по мере роста пробега — неизбежно. Конструкция термостатов рассчитана на это, к тому же загрязняются радиаторы, а часто отказывает и электронасос охлаждения второго контура. Неизбежна деградация антифриза, снижение характеристик помпы… В общем, предпосылки к повышению рабочей температуры, закоксовке и появлению детонации имеются.
                    li Еще у этих моторов расход масла через вентиляцию картера оказался выше ожидаемого, систему модернизировали примерно в 2010 году. А попадание масла на впуск вызывает уже повышение нагарообразования на впускных клапанах вплоть до нарушения их работы и постепенное снижение эффективности работы жидкостного теплообменника наддувного воздуха, который установлен во впускном коллекторе.

        .engine-table-article
            .engine-table-block__title чип-тюнинг
            p Есть мнение, что лучшее — враг хорошего. И оно определенно бытует среди интерьерщиков Шкоды. На первый взгляд в изначально продуманном и добротном салоне Октавии нет ничего нового. Но постепенно замечаешь топовую мультимедийную систему Columbus с экраном диагональю 9,2 дюйма, новый климатический блок с черными глянцевыми клавишами и фоновую подсветку на обшивке дверей. Все эти «ништяки» достались Октавии от дебютировавшего не так давно Кадьяка.
            p Придраться можно разве что к сенсорным клавишам мультимедийки, ведь даже для простой регулировки громкости придется тыкать пальцем в бездушный кусок стекла с насечками «+» или «-». И хотя отклик на нажатие — на зависть Тойотам и Кадиллакам, я уже скучаю по привычной осязаемой шайбе.
            .engine-table-article-img_right.clearfix
                .right
                    img(src="images/review-1.jpg")
                    span Интерьер тот же. Качество матери­алов — на прежнем высоком уровне. Доплата за топовую мультимедийную систему Columbus с 9,2‑дюймовым дисплеем составит 66 100 рублей для исполнения Ambition и 88 300 рублей — для Style.
                .left
                    p На этом с передней частью салона всё. Не считая нескольких новых «фишек» серии Simply Clever, а именно зонтика под пассажирским сиденьем (до Октавии это решение добралось только сейчас), держателя для бутылок на центральной консоли и — наконец-то! — обогреваемого руля.
                    p Для задних пассажиров — два нововведения: появилась возможность заказать пару дополнительных USB-розеток и откидные столики на спинках передних кресел. Остальное, включая трехступенчатый обогрев сидений и держатели для гаджетов, было доступно и до рестайлинга. По части простора машине по-прежнему нет равных в классе. Причем не только в своем! Да и багажник лифтбека с заявленным объемом 568 литров остается одним из рекордных. Что до универсала… В России «сарай» окажется штучным товаром, даром что его багажник еще удобнее и вместительнее.
                    p Для задних пассажиров — два нововведения: появилась возможность заказать пару дополнительных USB-розеток и откидные столики на спинках передних кресел. Остальное, включая трехступенчатый обогрев сидений и держатели для гаджетов, было доступно и до рестайлинга. По части простора машине по-прежнему нет равных в классе. Причем не только в своем! Да и багажник лифтбека с заявленным объемом 568 литров остается одним из рекордных. Что до универсала… В России «сарай» окажется штучным товаром, даром что его багажник еще удобнее и вместительнее.

            .engine-table-article-img_left
                .left
                    img(src="images/review-1.jpg")
                    span Интерьер тот же. Качество матери­алов — на прежнем высоком уровне. Доплата за топовую мультимедийную систему Columbus с 9,2‑дюймовым дисплеем составит 66 100 рублей для исполнения Ambition и 88 300 рублей — для Style.
                .right
                    p На этом с передней частью салона всё. Не считая нескольких новых «фишек» серии Simply Clever, а именно зонтика под пассажирским сиденьем (до Октавии это решение добралось только сейчас), держателя для бутылок на центральной консоли и — наконец-то! — обогреваемого руля.
                    p На этом с передней частью салона всё. Не считая нескольких новых «фишек» серии Simply Clever, а именно зонтика под пассажирским сиденьем (до Октавии это решение добралось только сейчас), держателя для бутылок на центральной консоли и — наконец-то! — обогреваемого руля.
                    p На этом с передней частью салона всё. Не считая нескольких новых «фишек» серии Simply Clever, а именно зонтика под пассажирским сиденьем (до Октавии это решение добралось только сейчас), держателя для бутылок на центральной консоли и — наконец-то! — обогреваемого руля.
                    p Для задних пассажиров — два нововведения: появилась возможность заказать пару дополнительных USB-розеток и откидные столики на спинках передних кресел. Остальное, включая трехступенчатый обогрев сидений и держатели для гаджетов, было доступно и до рестайлинга. По части простора машине по-прежнему нет равных в классе. Причем не только в своем! Да и багажник лифтбека с заявленным объемом 568 литров остается одним из рекордных. Что до универсала… В России «сарай» окажется штучным товаром, даром что его багажник еще удобнее и вместительнее.
            p Дело в том, что лифтбеки собирают на заводе «Группы ГАЗ» в Нижнем Новгороде, тогда как универсалы — исключительно в Млада-Болеславе. Вот почему самая скромная Octavia Combi 1.6 с механической коробкой предлагается за 1 207 000 рублей — примерно на четверть миллиона дороже аналогичного лифтбека (от 940 000 рублей) и схожих по характеристикам и оснащению универсалов Kia сee’d SW и Ford Focus.
            h2.h2 Устанавливается на модели:
            .engine-content-block-list
                ul
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                ul
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                ul
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.
                    li
                        a(href="#") Skoda Fabia (60 л.с.) — 1.0 л.