section.discussions
    h2.discussions__title
    .container
        .discussions-item
            a.discussions-item__title(href="#") Новая машина. Дизель. Вчера на холодную (+7 градусов) пошел пар из трубы на холостом ходу. Переживать или...
            .discussions-item__labels
                span.discussions-labels__type Инсайты
                span.discussions-labels__type экстерьер
            .discussions-item__meta
                span.discussions-item__date 15.04.2018
                span.discussions-item__count-comments 45 ответов
                span.discussions-item__count-views 5521
        .discussions-item
            a.discussions-item__title(href="#") Новая машина. Дизель. Вчера на холодную (+7 градусов) пошел пар из трубы на холостом ходу. Переживать или...
            .discussions-item__labels
                span.discussions-labels__type Инсайты
                span.discussions-labels__type экстерьер
            .discussions-item__meta
                span.discussions-item__date 15.04.2018
                span.discussions-item__count-comments 45 ответов
                span.discussions-item__count-views 5521
        .discussions-item
            a.discussions-item__title(href="#") Новая машина. Дизель. Вчера на холодную (+7 градусов) пошел пар из трубы на холостом ходу. Переживать или...
            .discussions-item__labels
                span.discussions-labels__type Инсайты
                span.discussions-labels__type экстерьер
            .discussions-item__meta
                span.discussions-item__date 15.04.2018
                span.discussions-item__count-comments 45 ответов
                span.discussions-item__count-views 5521
        .discussions-item
            a.discussions-item__title(href="#") Новая машина. Дизель. Вчера на холодную (+7 градусов) пошел пар из трубы на холостом ходу. Переживать или...
            .discussions-item__labels
                span.discussions-labels__type Инсайты
                span.discussions-labels__type экстерьер
            .discussions-item__meta
                span.discussions-item__date 15.04.2018
                span.discussions-item__count-comments 45 ответов
                span.discussions-item__count-views 5521
        .discussions-item
            a.discussions-item__title(href="#") Новая машина. Дизель. Вчера на холодную (+7 градусов) пошел пар из трубы на холостом ходу. Переживать или...
            .discussions-item__labels
                span.discussions-labels__type Инсайты
                span.discussions-labels__type экстерьер
            .discussions-item__meta
                span.discussions-item__date 15.04.2018
                span.discussions-item__count-comments 45 ответов
                span.discussions-item__count-views 5521
        .discussions-item
            a.discussions-item__title(href="#") Новая машина. Дизель. Вчера на холодную (+7 градусов) пошел пар из трубы на холостом ходу. Переживать или...
            .discussions-item__labels
                span.discussions-labels__type Инсайты
                span.discussions-labels__type экстерьер
            .discussions-item__meta
                span.discussions-item__date 15.04.2018
                span.discussions-item__count-comments 45 ответов
                span.discussions-item__count-views 5521
        .discussions-item
            a.discussions-item__title(href="#") Новая машина. Дизель. Вчера на холодную (+7 градусов) пошел пар из трубы на холостом ходу. Переживать или...
            .discussions-item__labels
                span.discussions-labels__type Инсайты
                span.discussions-labels__type экстерьер
            .discussions-item__meta
                span.discussions-item__date 15.04.2018
                span.discussions-item__count-comments 45 ответов
                span.discussions-item__count-views 5521
        .discussions-item
            a.discussions-item__title(href="#") Новая машина. Дизель. Вчера на холодную (+7 градусов) пошел пар из трубы на холостом ходу. Переживать или...
            .discussions-item__labels
                span.discussions-labels__type Инсайты
                span.discussions-labels__type экстерьер
            .discussions-item__meta
                span.discussions-item__date 15.04.2018
                span.discussions-item__count-comments 45 ответов
                span.discussions-item__count-views 5521
        .discussions-item
            a.discussions-item__title(href="#") Новая машина. Дизель. Вчера на холодную (+7 градусов) пошел пар из трубы на холостом ходу. Переживать или...
            .discussions-item__labels
                span.discussions-labels__type Инсайты
                span.discussions-labels__type экстерьер
            .discussions-item__meta
                span.discussions-item__date 15.04.2018
                span.discussions-item__count-comments 45 ответов
                span.discussions-item__count-views 5521
        .discussions-item
            a.discussions-item__title(href="#") Новая машина. Дизель. Вчера на холодную (+7 градусов) пошел пар из трубы на холостом ходу. Переживать или...
            .discussions-item__labels
                span.discussions-labels__type Инсайты
                span.discussions-labels__type экстерьер
            .discussions-item__meta
                span.discussions-item__date 15.04.2018
                span.discussions-item__count-comments 45 ответов
                span.discussions-item__count-views 5521