section.filters
    div.filters-wrap
        div.filters-left
            h3.filters__title Фильтровать по:
            select.filters-item.filter-model(multiple='multiple', placeholder='Модель')
                option(value='Fabia') Fabia
                option(value='Octavia') Octavia
                option(value='Kodaq') Kodaq
                option(value='Rapid') Rapid
                option(value='Superb') Superb
            select.filters-item.filter-complect(multiple='multiple', placeholder='Комплектация')
                option(value='Fabia') Fabia
                option(value='Octavia') Octavia
                option(value='Kodaq') Kodaq
                option(value='Rapid') Rapid
                option(value='Superb') Superb
            select.filters-item.filter-engine(multiple='multiple', placeholder='Двигатель')
                option(value='Fabia') Fabia
                option(value='Octavia') Octavia
                option(value='Kodaq') Kodaq
                option(value='Rapid') Rapid
                option(value='Superb') Superb
            div.filters-checkbox
                input(type='checkbox', id='with-video', name='with-video')
                label(for='with-video') С видео
        div.filters-right
            h3.filters__title Сортировать по:
            select.filters-item.filter-sort(multiple='multiple', placeholder='Новизне')
                option(value='Fabia') Fabia
                option(value='Octavia') Octavia
                option(value='Kodaq') Kodaq
                option(value='Rapid') Rapid
                option(value='Superb') Superb