section.cards.all-reviews
    .container
        .cards-top.all-reviews-top
            h2.cards__title.all-reviews__title.h2
                | Все обзоры
        include filters
        .cards-list
            .cards-wrap
                .review-card
                    .review-card-wrap
                        .review-card-img
                            img(src="uploads/overview-1.jpg", alt="Четырехглазая езда: тест обновленной Skoda Octavia")
                        .review-card-desc
                            a.review-card-desc__title(href="#") Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                .review-card-desc-rating
                                    span.review-card-rating__count 9.3
                                    span.review-card-rating__text Рейтинг
                                p.review-card-desc__mark От редакции
                .review-card
                    .review-card-wrap
                        .review-card-img
                            img(src="uploads/overview-2.jpg", alt="Четырехглазая езда: тест обновленной Skoda Octavia")
                        .review-card-desc
                            a.review-card-desc__title(href="#") Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                .review-card-desc-rating
                                    span.review-card-rating__count 9.3
                                    span.review-card-rating__text Рейтинг
                                p.review-card-desc__mark От редакции
                .review-card
                    .review-card-wrap
                        .review-card-img
                            img(src="uploads/overview-3.jpg", alt="Четырехглазая езда: тест обновленной Skoda Octavia")
                        .review-card-desc
                            a.review-card-desc__title(href="#") Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                .review-card-desc-rating
                                    span.review-card-rating__count 9.3
                                    span.review-card-rating__text Рейтинг
                                p.review-card-desc__mark.review-card-desc__mark--user От пользователя
                .review-card
                    .review-card-wrap
                        .review-card-img
                            img(src="uploads/overview-4.jpg", alt="Четырехглазая езда: тест обновленной Skoda Octavia")
                        .review-card-desc
                            a.review-card-desc__title(href="#") Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                .review-card-desc-rating
                                    span.review-card-rating__count 9.3
                                    span.review-card-rating__text Рейтинг
                                p.review-card-desc__mark От редакции
                .review-card
                    .review-card-wrap
                        .review-card-img
                            img(src="uploads/overview-5.jpg", alt="Четырехглазая езда: тест обновленной Skoda Octavia")
                        .review-card-desc
                            a.review-card-desc__title(href="#") Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                .review-card-desc-rating
                                    span.review-card-rating__count 9.3
                                    span.review-card-rating__text Рейтинг
                                p.review-card-desc__mark От редакции
                .review-card
                    .review-card-wrap
                        .review-card-img
                            img(src="uploads/overview-6.jpg", alt="Четырехглазая езда: тест обновленной Skoda Octavia")
                        .review-card-desc
                            a.review-card-desc__title(href="#") Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                .review-card-desc-rating
                                    span.review-card-rating__count 9.3
                                    span.review-card-rating__text Рейтинг
                                p.review-card-desc__mark От редакции
                .review-card
                    .review-card-wrap
                        .review-card-img
                            img(src="uploads/overview-1.jpg", alt="Четырехглазая езда: тест обновленной Skoda Octavia")
                        .review-card-desc
                            a.review-card-desc__title(href="#") Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                .review-card-desc-rating
                                    span.review-card-rating__count 9.3
                                    span.review-card-rating__text Рейтинг
                                p.review-card-desc__mark.review-card-desc__mark--user От пользователя
                .review-card
                    .review-card-wrap
                        .review-card-img
                            img(src="uploads/overview-2.jpg", alt="Четырехглазая езда: тест обновленной Skoda Octavia")
                        .review-card-desc
                            a.review-card-desc__title(href="#") Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                .review-card-desc-rating
                                    span.review-card-rating__count 9.3
                                    span.review-card-rating__text Рейтинг
                                p.review-card-desc__mark.review-card-desc__mark--user От пользователя
                .review-card
                    .review-card-wrap
                        .review-card-img
                            img(src="uploads/overview-3.jpg", alt="Четырехглазая езда: тест обновленной Skoda Octavia")
                        .review-card-desc
                            a.review-card-desc__title(href="#") Четырехглазая езда: тест обновленной Skoda Octavia
                            .review-card-desc-row
                                span.review-card-desc__label Обзор
                                span.review-card-desc__date 15.04.2018
                            .review-card-desc-bottom
                                .review-card-desc-rating
                                    span.review-card-rating__count 9.3
                                    span.review-card-rating__text Рейтинг
                                p.review-card-desc__mark От редакции
            button.pagination__more Показать еще